<div class="add-new-item-box">
    {{#unless editMood}}
    <button 
        class="add-new-item-button"
        {{action "changeEditMood"}}
    >Add Product
    </button>
    {{/unless}}

    {{#if editMood}}
        <button class="button success" {{action "addNewShop"}}>Create</button>
        <button class="button warning"{{action "changeEditMood"}}>Cancel</button>
        {{input value=name class="input" placeholder="Name"}}
        {{input value=qty class="input" placeholder="QTY"}}
        {{input value=price class="input" placeholder="Price"}}
    {{/if}}
</div>