<div class="add-new-item-box">
    {{#unless editMood}}
    <button 
        class="add-new-item-button"
        {{action "changeEditMood"}}
    >Add Product
    </button>
    {{/unless}}
    {{#if success}}
        <span>{{successMessage}}</span>
    {{/if}}
    {{#if error}}
        <span>{{errorMessage}}</span>
    {{/if}}

    {{#if editMood}}
        <button class="button {{if this.disabled 'disabled' 'success'}}" {{action "addNewShop" shopId}} disabled={{disabled}}>Create</button>
        <button class="button warning"{{action "changeEditMood"}}>Cancel</button>
        {{input value=name class="input" placeholder="Name"}}
        {{input value=qty class="input" placeholder="QTY"}}
        {{input value=price class="input" placeholder="Price"}}
    {{/if}}
</div>