<div class="list-table-row shop">
    {{#unless editMood}}
        <div class="list-table-col">{{product.name}}</div>
        <div class="list-table-col">{{product.qty}}</div>
        <div class="list-table-col">{{product.price}}</div>            
        <div class="list-table-col">
            <button class="button primary" {{action "changeEditMood"}}>Edit</button>
            <button class="button danger">Delete</button>
        </div>   
    {{/unless}}    
    {{#if editMood}}
        <div class="list-table-col">{{input value=name placeholder="Name"}}</div>
        <div class="list-table-col">{{input value=qty placeholder="QTY"}}</div>
        <div class="list-table-col">{{input value=Price placeholder="Price"}}</div>            
        <div class="list-table-col">
            <button class="button success" {{action "changeEditMood"}} disabled={{disabled}}>Save</button>
            <button class="button warning" {{action "changeEditMood"}}>Cancel</button>
        </div>
    {{/if}}     
</div>